@import (reference) "flexbox.less";
@import (reference) "mixin.less";

html {
	-webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
	box-sizing: border-box;
	outline: 0;
}

.page-main {
	width: 100%;
	max-width: unset;
	padding-left: 0px;
	padding-right: 0px;

	@media only screen and (min-width: 1024px){
		padding-left: 20px;
		padding-right: 20px;
	}
}

.module-width {
	max-width: 1610px;
	padding: 0;
	margin: 0 auto 30px;

	@media only screen and (min-width: 1024px){
		padding: 0 30px;
	}
}

.module-full-width {
	width: 100%;
	padding: 30px;
	margin: 0 auto 30px;
}

.page-main {
	.block {
		margin-bottom: 0;
	}
}

#home-new {
	.product-item {
		text-align: center;
		.product-item-info {
			.product-item-name {
				font-size: 14px;
				font-family: 'Baskerville', serif;
				text-transform: uppercase;
				line-height: 1.4;
			}
		}
	}
}

.widget {
	.block-title {
		padding: 10px;
		strong {
			font-family: 'Baskerville', serif;
			font-size: 25px;
			text-transform: uppercase;
			line-height: 1.2;
		}
	}
}

.block.widget .product-items-flex {
	.mixin-display-flex();
	.mixin-flex-wrap(wrap);

	.product-item {
		width: 50%;
		text-align: center;
		
		.product-item-info{
			.product-item-details {
				.product-item-actions {
					.actions-primary, .actions-secondary {
						display: inline-block;
						width: 100%;
					}

					.actions-secondary {
						margin-top: 10px;
						padding-left: 0;
					}
				}
			}
		}
	}

	@media only screen and (min-width: 1024px){
		.product-item {
			width: 25%;
			padding: 0 10px;
			margin-left: 0;
		}
	}
}

.product-item-name {
	font-family: 'Baskerville', serif;
	font-size: 16px;
	text-transform: capitalize;
	line-height: 1.4;
}

.product-item {
	.price-box {
		font-size: 14px;
		font-family: 'Gotham-Light', sans-serif;

		.old-price {
			display: block;

			.price-final_price {
				background-color: unset;
				color: #404142;
				text-decoration: line-through;
			}
		}

		.price-final_price {
			background-color: #414042;
			padding: 5px;
			color: #fff;
		}

		.price-label {
			display: none;
		}
	}
}

/*=========Top Slider=========*/
#home-top-slider{
	.home-slideshow {
		position: relative;
		.slideshow-image {
			display: block;
			background-repeat: no-repeat;
		    background-size: cover;
		    background-position: center center;
		    height: 300px;

		    @media only screen and (min-width: 641px){
		    	height: 500px;
		    }

		    @media only screen and (max-width: 1023px){
		    	&:before {
		    		content: '';
		    		display: block;
		    		height: 100%;
		    		background-color: rgba(65,64,66, 0.6);
		    	}
		    }

		    @media only screen and (min-width: 1024px){
		    	height: 600px;
		    }

		    @media only screen and (min-width: 1551px){
		    	height: 38vw;
		    }
		}

		.slideshow-text {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			text-align: center;
			padding: 20px;

			h1 {
				font-size: 30px;
				font-family: 'Baskerville', serif;
				text-transform: capitalize;
				line-height: 1.2;
				margin-bottom: 0;
			}

			hr {
				width: 70%;
			}

			p,a {
				font-size: 14px;
				font-family: 'Gotham-Light', sans-serif;
				line-height: 1.2;
				text-transform: uppercase;
			}

		}

		.slideshow-text-dark {
			color: #404142;

			hr {
				border-top: 1px solid #414042;
			}
			a {
				color: #414042;
			}
		}

		.slideshow-text-white {
			color: #fff;

			hr {
				border-top: 1px solid #fff;
			}
			a {
				color: #fff;
			}
		}

		.slideshow-text-right {
			@media only screen and (min-width: 1024px){
				top: 20%;
				right: 150px;
				left: unset;
				-webkit-transform: unset;
                    -ms-transform: unset;
                        transform: unset;

			}
		}
	}
}

/*====Hide Add To Cart=====*/
.tocart {
	display: none !important;
}

/*==============Navigation Menu===========*/
.nav-sections {
	margin-bottom: 0;
}

/*==============Logo Header & Search Bar==============*/
.promo-container {
	display: none;

	@media only screen and (min-width: 768px){
		display: block;
		float: left;
		width: 30%;

		h3 {
			margin: 12.5px 0;
		}
	}
}

.logo-container {
	width: 100%;
	text-align: center;

	@media only screen and (max-width: 767px){
		.mixin-transform(@translateX: 0, @translateY: 10%);
	}
}

.logo {
	float: unset;
	display: inline-block;
	margin: 0 auto;
	max-width: 100px;

	@media only screen and (min-width: 768px){
		max-width: 50%;
	}
}

.header.content {
	padding: 0px 20px;
}

/*==============Block Search=============*/
.block-search {
	
	.label {
		position: absolute;
		top: 0;
		right: 0;
		transform: translate(0%, 80%);
	}
	@media only screen and (min-width: 768px){
		position: absolute;
		top: 50%;
		transform: translate(0%,-50%);
		right: 20px;
	}
}

#search {
	border: none;
	border-bottom: 1px solid #ccc;
	font-family: 'Gotham', sans-serif;
}

/*============= Page Header ===========*/
.page-header {
	position: fixed;
	width: 100%;
	background-color: #fff;
	z-index: 1000;
}

.page-header .panel.wrapper {
	background: #414042;
	border-bottom: 1px solid #414042;
}

/*=========== Page Main ==============*/
.page-main {
	position: relative;
	padding-top: 70px;
	@media only screen and (min-width: 768px){
		padding-top: 230px;
	}
}

/*========== Navigation-Menu ===========*/

.nav-sections {
    background: #fff;
    border-bottom: 1px solid #ccc;
}

.navigation {
	background: #fff;

	ul {
		text-transform: uppercase;
		font-size: 12px;
		font-family: "Gotham", sans-serif;

	}

	@media only screen and (min-width: 768px) {
		ul {
			.mixin-display-flex();
			.mixin-justify-content(space-between);
		}
		.level0 {
			.submenu a:hover, .submenu a:ui-state-focus {
				background: #f1f1f1;
			}
		}
	}
}

/*============ Product Listing ============*/
.category-image {
	.image {
		margin: 0 auto;
	}
}

/*=========== Footer ====================*/
.footer-wrapper {
	.mixin-display-flex();

	.footer-about {
		width: 30%;
		padding-right: 50px;

		h1 {
			font-family: 'Georgia', sans-serif;
			text-transform: uppercase;
			font-size: 22px;
			margin-bottom: 10px;
		}
	}

	.footer-links {
		width: 35%;
		margin-top: 35px;
		.mixin-display-flex();
		.mixin-flex-wrap(wrap);
		border-right: 1px solid #ccc;

		.footer-item-link {
			width: 50%;
			ul {
				padding-right: 20px;
				padding-bottom: 20px;
				a {
					font-size: 13px;
					font-family: 'Gotham-Light', sans-serif;
					text-transform: uppercase;
					color: #404142;
				}
			}
		}
	}

	.footer-social {
		padding-left: 50px;
		width: 35%;

		.block.newsletter {
			width: 100%;
			margin-top: 15px;
		}
	}

}

.block.newsletter .actions {
	
	@media only screen and (min-width: 768px){
		width: 80px;
	}
	@media only screen and (min-width: 1024px){
		width: 120px;
	}
}

.action.primary {
	background: #414042;
	border: 1px solid #414042;
	font-family: 'Gotham', sans-serif;
	text-transform: uppercase;
	font-size: 12px;

	&:hover, &:active, &:focus {
		background: #000;
		border: 1px solid #000;
	}
}

.subscribe-info {
	font-size: 14px;
	text-transform: uppercase;
	font-family: 'Georgia', sans-serif;
	font-weight: 500;
}

.lowercase {
	text-transform: lowercase !important;
}

input[type="email"]{
	font-family: "Gotham", sans-serif;
	border: 1px solid #414042;
}

.copyright {
	font-family: 'Georgia', sans-serif;
	background: #414042;
}

a.disabled {
	pointer-events: none;
	cursor: default;
}

.footer-social-link {
	.social-links {
		.mixin-display-flex();
		li {
			margin-right: 20px !important;
			a {
				border: 1px solid #707171;
				border-radius: 100%;
				width: 25px;
				height: 25px;
				.mixin-display-flex();
				.mixin-justify-content(center);
				.mixin-align-items(center);

				.fa-facebook {
					color: #2196f3;
				}
			}
		}
	}
}
